*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'helvetika', sans-serif;
    background-color: #353535;
    color: rgb(228, 228, 228);
    letter-spacing: 0.5px;
}

.container-banner{
    height: 100vh;
    overflow: hidden;
}

img.banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden
}

img.scroll{
    width: 10%;
    display: block;
    z-index: 2;
    left: 50%;
    position: fixed;
    bottom: 15px;
    transition: 1s;
}

img.rolagem{
    bottom: -35%; 
}

div#conteudo{
    max-width: 1140px;
    margin: 0 auto;
}


main{
    margin: 20px 10px 20px 20px;
    max-width: 60%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;    
}

main#cards-ministros{
    display: block;
    margin: 70px 30px 20px 30px;
    max-width: 90%;
    box-sizing: border-box;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

div.card-esquerdo{
    display: block;
    text-align: left;
    padding: 10px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgb(216, 216, 207);
}

div.card-esquerdo h2{
    display: block;
    float: left;
    width: 66%;
    box-sizing: border-box;
    margin: 20px 10px 10px 20px;
    padding: 10px;
    background-color: rgb(41, 46, 59);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}

div.card-esquerdo h3{
    display: block;
    width: 66%;
    float: left;
    margin: 0px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

div.card-esquerdo img{
    width: 200px;
    float: right;

}

div.card-esquerdo p{
    display: block;
    text-align: left;
    font-weight: normal;
    padding: 10px;
    margin: 0px;
    width: 66%;
    color: black
}

div.card-direito{
    display: block;
    text-align: left;
    padding: 10px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgb(216, 216, 207);
}

div.card-direito h2{
    display: block;
    float: right;
    width: 66%;
    box-sizing: border-box;
    margin: 20px 10px 10px 20px;
    padding: 10px;
    background-color: rgb(41, 46, 59);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}

div.card-direito h3{
    display: block;
    width: 66%;
    float: right;
    margin: 0px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

div.card-direito p{
    display: block;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding: 10px;
    margin: 0px;
    width: 66%;
    float: right;
}

div.card-direito img{
    width: 200px;
    float: left;
}

p{
    padding: 10px;
    line-height: 1.2;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

p a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    text-decoration: underline;
}

h2{
    line-height: 1.5;
    margin: 10px;
    
}
.instagram-container{
    background-color: rgb(83, 83, 83);
    display: block;
    float: right;
    width: 33%;
    box-sizing: border-box;
    margin: 20px 20px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

div.menu-postagens{
    float: right;
    background-color: rgb(83, 83, 83);
    width: 33%;   
    box-sizing: border-box;
    margin: 20px 20px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

div.menu-postagens ul{
    list-style: none;
}

div.menu-postagens ul li a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    padding: 5px;
    display: block;
    line-height: 0.9;
    transition: 0.3s;
}

div.menu-postagens ul li a:hover{
    background-color: rgb(53, 53, 53);
    font-weight: bold;
}

footer#rodape{
    background-color: rgb(83, 83, 83);
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: -10px;
    width: 100%;
    clear: both;
    box-sizing: border-box;
}

footer#rodape p{
    margin: 0;
    padding: 0;
    text-align: center;
}

footer div#developer{
    color: rgb(160, 159, 159);
    text-decoration: none;
}

footer div#developer a{
    color: rgb(160, 159, 159);
    text-decoration: none;
}

footer div#developer a:hover{
    color: rgb(207, 207, 207);
    text-decoration: underline;
    transition: 0.3s;
}

#developer span{
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
}